[submodule "Assets/Content/Code/States"]
	path = Assets/Content/Code/States
	url = https://github.com/ukidabek/States.git
[submodule "Assets/Content/Code/DesignPatterns"]
	path = Assets/Content/Code/DesignPatterns
	url = https://github.com/ukidabek/DesignPatterns.git
[submodule "Assets/Content/Code/Actions"]
	path = Assets/Content/Code/Actions
	url = https://github.com/ukidabek/ActionSystem.git
[submodule "Assets/Content/Code/Utilities"]
	path = Assets/Content/Code/Utilities
	url = https://github.com/ukidabek/Utilities.git
